{
  "openapi": "3.1.0",
  "info": {
    "title": "KOALASTORE.DIGI",
    "version": "1.0.0",
    "description": "KOALASTORE.DIGI User API - Purchase platform products programmatically using your balance."
  },
  "servers": [
    {
      "url": "https://koalastore.digital/api/v1"
    }
  ],
  "tags": [
    {
      "name": "User"
    },
    {
      "name": "Products"
    },
    {
      "name": "Orders"
    },
    {
      "name": "Reports"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/checkout": {
      "post": {
        "operationId": "createOrder",
        "description": "Membuat order pada akun dengan memotong saldo.",
        "summary": "Create Order",
        "tags": [
          "Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserApiCheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "`CheckoutResource`",
            "content": {
              "application/json": {
                "schema": {
                  "examples": [
                    {
                      "success": true,
                      "message": "Order created successfully.",
                      "data": {
                        "transaction_id": "TXN-20240101-ABC123",
                        "pin": 123456,
                        "total_amount": 150000,
                        "balance_used": 150000,
                        "balance_remaining": 350000,
                        "items": [
                          {
                            "variant_code": "MLBB-86DM",
                            "product_name": "Mobile Legends Diamond",
                            "variant_name": "86 Diamond",
                            "quantity": 1,
                            "unit_price": 150000,
                            "subtotal": 150000,
                            "stock_data": [
                              {
                                "dataStock": "Game ID: 123456789 | Server: Indonesia | 86 Diamond"
                              }
                            ],
                            "terms_and_conditions": "Pembelian tidak dapat dibatalkan setelah berhasil diproses.",
                            "warranty_terms": "Garansi 1x24 jam jika item tidak masuk."
                          }
                        ]
                      }
                    }
                  ],
                  "$ref": "#/components/schemas/CheckoutResource"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "get": {
        "operationId": "web.checkout",
        "tags": [
          "Checkout"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "get": {
        "operationId": "getOrders",
        "description": "Mengambil riwayat order milik user yang terautentikasi dengan paginasi dan filter lengkap.",
        "summary": "Get Orders",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "paid",
                "pending",
                "canceled",
                "failed",
                "expired"
              ]
            }
          },
          {
            "name": "transaction_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "product",
                "subscription",
                "saldo"
              ]
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "newest",
                "oldest",
                "amount_asc",
                "amount_desc"
              ]
            }
          },
          {
            "name": "min_amount",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "max_amount",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`OrderCollection`",
            "content": {
              "application/json": {
                "schema": {
                  "examples": [
                    {
                      "success": true,
                      "data": [
                        {
                          "transaction_id": "TXN-20240101-ABC123",
                          "status": "paid",
                          "order_channel": "api",
                          "transaction_type": "product",
                          "total_amount": 150000,
                          "order_quantity": 1,
                          "pin": 123456,
                          "created_at": "2024-01-01T10:00:00+07:00",
                          "paid_at": "2024-01-01T10:01:00+07:00",
                          "items_count": 1,
                          "items": [
                            {
                              "variant_code": "MLBB-86DM",
                              "product_name": "Mobile Legends Diamond",
                              "variant_name": "86 Diamond",
                              "quantity": 1,
                              "unit_price": 150000,
                              "subtotal": 150000,
                              "stock_data": [
                                {
                                  "dataStock": "Game ID: 123456789 | Server: Indonesia | 86 Diamond"
                                }
                              ]
                            }
                          ]
                        }
                      ],
                      "meta": {
                        "current_page": 1,
                        "last_page": 5,
                        "per_page": 15,
                        "total": 72
                      }
                    }
                  ],
                  "$ref": "#/components/schemas/OrderCollection"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "const": "Failed to fetch orders."
                    },
                    "code": {
                      "type": "integer",
                      "const": 400
                    },
                    "data": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/orders/{transactionId}/status": {
      "get": {
        "operationId": "getOrderStatus",
        "description": "Mengambil informasi status order milik user berdasarkan transaction ID, termasuk status pembayaran, waktu pembayaran/kadaluarsa, dan data QRIS bila order dibayar via QRIS.",
        "summary": "Get Order Status",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`OrderStatusResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderStatusResource"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "const": "Order tidak ditemukan."
                    },
                    "code": {
                      "type": "integer",
                      "const": 404
                    },
                    "data": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/products": {
      "get": {
        "operationId": "web.products.index",
        "tags": [
          "Index"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/products/{code}": {
      "get": {
        "operationId": "getProductDetail",
        "description": "Mengambil detail produk",
        "summary": "Get Product Detail",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`ProductDetailResource`",
            "content": {
              "application/json": {
                "schema": {
                  "examples": [
                    {
                      "success": true,
                      "data": {
                        "code": "MLBB",
                        "name": "Mobile Legends Diamond",
                        "description": "Top up Diamond Mobile Legends",
                        "long_description": "Top up Diamond Mobile Legends dengan harga terjangkau. Proses otomatis dan cepat.",
                        "category": "Game",
                        "image": "https://storage.example.com/products/mlbb.png",
                        "images": [
                          "https://storage.example.com/products/mlbb.png"
                        ],
                        "variants": [
                          {
                            "code_variant": "MLBB-86DM",
                            "name": "86 Diamond",
                            "price": 20000,
                            "available_stock": 50,
                            "is_manual_process": false,
                            "terms_and_conditions": "Pembelian tidak dapat dibatalkan setelah diproses.",
                            "warranty_terms": "Garansi 1x24 jam jika item tidak masuk."
                          }
                        ]
                      }
                    }
                  ],
                  "$ref": "#/components/schemas/ProductDetailResource"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "string",
                          "enum": [
                            "Product not found."
                          ]
                        }
                      ]
                    },
                    "code": {
                      "type": "integer",
                      "const": 404
                    },
                    "data": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/products/{code}/variants/{codeVariant}/terms": {
      "get": {
        "operationId": "getVariantTerms",
        "description": "Mengambil syarat & ketentuan serta garansi untuk varian produk tertentu.",
        "summary": "Get Variant Terms",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codeVariant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`VariantTermsResource`",
            "content": {
              "application/json": {
                "schema": {
                  "examples": [
                    {
                      "success": true,
                      "data": {
                        "code_variant": "MLBB-86DM",
                        "variant_name": "86 Diamond",
                        "terms_and_conditions": "Pembelian tidak dapat dibatalkan setelah berhasil diproses. Pastikan ID dan Server yang dimasukkan sudah benar sebelum checkout.",
                        "warranty_terms": "Garansi 1x24 jam jika item tidak masuk setelah pembayaran berhasil. Hubungi support dengan menyertakan bukti transaksi."
                      }
                    }
                  ],
                  "$ref": "#/components/schemas/VariantTermsResource"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "string",
                          "enum": [
                            "Terms not found."
                          ]
                        }
                      ]
                    },
                    "code": {
                      "type": "integer",
                      "const": 404
                    },
                    "data": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/reports": {
      "post": {
        "operationId": "createTransactionReport",
        "description": "Membuat laporan masalah untuk transaksi milik pengguna.",
        "summary": "Create Transaction Report",
        "tags": [
          "Reports"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransactionReportRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "`TransactionReportResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionReportResource"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "get": {
        "operationId": "web.report-tracker.index",
        "tags": [
          "Index"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/balance": {
      "get": {
        "operationId": "getBalance",
        "description": "Mengambil informasi saldo user yang terautentikasi via API key",
        "summary": "Get Balance",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "`BalanceResource`",
            "content": {
              "application/json": {
                "schema": {
                  "examples": [
                    {
                      "success": true,
                      "message": "Balance retrieved successfully.",
                      "code": 200,
                      "data": {
                        "balance": 500000,
                        "formatted_balance": "Rp 500.000",
                        "total_balance": 2000000,
                        "formatted_total_balance": "Rp 2.000.000",
                        "pending_withdrawal": 100000,
                        "formatted_pending_withdrawal": "Rp 100.000",
                        "total_topup": 3000000,
                        "formatted_total_topup": "Rp 3.000.000",
                        "total_spent": 1400000,
                        "formatted_total_spent": "Rp 1.400.000",
                        "total_withdrawn": 100000,
                        "formatted_total_withdrawn": "Rp 100.000"
                      }
                    }
                  ],
                  "$ref": "#/components/schemas/BalanceResource"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "const": "Failed to fetch balance."
                    },
                    "code": {
                      "type": "integer",
                      "const": 400
                    },
                    "data": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/me": {
      "get": {
        "operationId": "getMe",
        "description": "Mengembalikan identitas owner (tenant) yang terautentikasi via API key, ringkasan saldo, dan status langganan. Dipakai WebStore untuk memvalidasi kredensial tenant dan menggerbang storefront.",
        "summary": "Get Authenticated Owner",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "`MeResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResource"
                }
              }
            }
          }
        }
      }
    },
    "/about-us": {
      "get": {
        "operationId": "web.pages.about-us",
        "tags": [
          "AboutUs"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/cart/items": {
      "post": {
        "operationId": "cart.add",
        "tags": [
          "AddToCart"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddToCartRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "cartToken": {
                        "type": "string"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "const": "Produk berhasil ditambahkan ke keranjang"
                    },
                    "code": {
                      "type": "integer",
                      "const": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "cartToken": {
                          "type": "string"
                        },
                        "item": {
                          "$ref": "#/components/schemas/CartItemResource"
                        }
                      },
                      "required": [
                        "cartToken",
                        "item"
                      ]
                    },
                    "meta": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "const": 400
                    },
                    "data": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "get": {
        "operationId": "cart.get",
        "tags": [
          "FetchCart"
        ],
        "parameters": [
          {
            "name": "cartToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "const": "Cart retrieved successfully"
                    },
                    "code": {
                      "type": "integer",
                      "const": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/CartResource"
                    },
                    "meta": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "const": 404
                    },
                    "data": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/admin/admin-poll": {
      "get": {
        "operationId": "filament.admin.pages.admin-poll",
        "tags": [
          "AdminPoll"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/admin/admin-whatsapp-master": {
      "get": {
        "operationId": "filament.admin.pages.admin-whatsapp-master",
        "tags": [
          "AdminWhatsAppMasterBot"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/dashboard/affiliate-program": {
      "get": {
        "operationId": "filament.dashboard.pages.affiliate-program",
        "tags": [
          "AffiliateProgram"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/admin/affiliate-settings": {
      "get": {
        "operationId": "filament.admin.pages.affiliate-settings",
        "tags": [
          "AffiliateSettings"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/dashboard/all-announcements-page": {
      "get": {
        "operationId": "filament.dashboard.pages.all-announcements-page",
        "tags": [
          "AllAnnouncementsPage"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/dashboard/apply": {
      "get": {
        "operationId": "filament.dashboard.pages.apply",
        "tags": [
          "Apply"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/dashboard/balance-history": {
      "get": {
        "operationId": "filament.dashboard.pages.balance-history",
        "tags": [
          "BalanceHistory"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/dashboard/balance-withdrawal-request": {
      "get": {
        "operationId": "filament.dashboard.pages.balance-withdrawal-request",
        "tags": [
          "BalanceWithdrawalRequest"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/horizon/api/batches": {
      "get": {
        "operationId": "horizon.jobs-batches.index",
        "summary": "Get all of the batches",
        "tags": [
          "Batches"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "batches": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0,
                      "additionalItems": false
                    }
                  },
                  "required": [
                    "batches"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/horizon/api/batches/{id}": {
      "get": {
        "operationId": "horizon.jobs-batches.show",
        "summary": "Get the details of a batch by ID",
        "tags": [
          "Batches"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "batch": {
                      "type": "string"
                    },
                    "failedJobs": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "batch",
                    "failedJobs"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/horizon/api/batches/retry/{id}": {
      "post": {
        "operationId": "horizon.jobs-batches.retry",
        "summary": "Retry the given batch",
        "tags": [
          "Batches"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/blogs/featured": {
      "get": {
        "operationId": "blogs.featured",
        "tags": [
          "BlogFeatured"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "default": 4
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "const": "Featured blogs retrieved successfully"
                    },
                    "code": {
                      "type": "integer",
                      "const": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "meta": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "const": "Failed to retrieve featured blogs"
                    },
                    "code": {
                      "type": "integer",
                      "const": 500
                    },
                    "data": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/blogs": {
      "get": {
        "operationId": "blogs.index",
        "tags": [
          "BlogIndex"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "const": "Success"
                    },
                    "code": {
                      "type": "integer",
                      "const": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "blogs": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "coverImage": {},
                              "color": {},
                              "author": {},
                              "readTime": {
                                "type": "integer"
                              },
                              "publishedAt": {
                                "type": "string"
                              },
                              "tags": {
                                "type": "object",
                                "additionalProperties": {}
                              },
                              "category": {
                                "type": "string"
                              },
                              "isNew": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "id",
                              "title",
                              "slug",
                              "description",
                              "coverImage",
                              "color",
                              "author",
                              "readTime",
                              "publishedAt",
                              "tags",
                              "category",
                              "isNew"
                            ]
                          }
                        },
                        "categories": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "description": {},
                              "icon": {},
                              "isActive": {
                                "type": "boolean"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "slug",
                              "description",
                              "icon",
                              "isActive",
                              "createdAt",
                              "updatedAt"
                            ]
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer"
                            },
                            "currentPage": {
                              "type": "integer"
                            },
                            "lastPage": {
                              "type": "integer"
                            },
                            "perPage": {
                              "type": "integer"
                            },
                            "hasMorePages": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "total",
                            "currentPage",
                            "lastPage",
                            "perPage",
                            "hasMorePages"
                          ]
                        },
                        "searchCriteria": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "blogs",
                        "categories",
                        "pagination",
                        "searchCriteria"
                      ]
                    },
                    "meta": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "const": "Failed to fetch blogs"
                    },
                    "code": {
                      "type": "integer",
                      "const": 500
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "blogs": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "minItems": 0,
                          "maxItems": 0,
                          "additionalItems": false
                        },
                        "categories": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "minItems": 0,
                          "maxItems": 0,
                          "additionalItems": false
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer"
                            },
                            "currentPage": {
                              "type": "integer",
                              "const": 1
                            },
                            "lastPage": {
                              "type": "integer",
                              "const": 1
                            },
                            "perPage": {
                              "type": "integer",
                              "const": 9
                            },
                            "hasMorePages": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "total",
                            "currentPage",
                            "lastPage",
                            "perPage",
                            "hasMorePages"
                          ]
                        },
                        "searchCriteria": {
                          "type": "null"
                        }
                      },
                      "required": [
                        "blogs",
                        "categories",
                        "pagination",
                        "searchCriteria"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/dashboard/subscription/bot/{subscription}": {
      "get": {
        "operationId": "filament.dashboard.pages.subscription.bot.{subscription}",
        "tags": [
          "BotDetail"
        ],
        "parameters": [
          {
            "name": "subscription",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/dashboard/subscription/bot-whatsapp/{subscription}": {
      "get": {
        "operationId": "filament.dashboard.pages.subscription.bot-whatsapp.{subscription}",
        "tags": [
          "BotDetailWhatsApp"
        ],
        "parameters": [
          {
            "name": "subscription",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/broadcasting/auth": {
      "get": {
        "operationId": "broadcast.authenticate",
        "summary": "Authenticate the request for channel access",
        "tags": [
          "Broadcast"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/email-preview/cs-manual-order/{type}": {
      "get": {
        "operationId": "web.email.preview.cs-manual-order",
        "summary": "Preview CS manual order notification email",
        "tags": [
          "CSManualOrderNotification"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "description": "**Optional**",
            "schema": {
              "type": "string",
              "default": "partial"
            },
            "x-optional": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/payments/{paymentId}/cancel": {
      "post": {
        "operationId": "payments.cancel",
        "summary": "Cancel payment",
        "tags": [
          "Cancel"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "const": "Payment cancellation processed"
                    },
                    "code": {
                      "type": "integer",
                      "const": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "paymentId": {
                          "type": "string"
                        },
                        "orderId": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "integer"
                        },
                        "currency": {
                          "type": "string"
                        },
                        "paymentUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "qrCodeUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "paymentCode": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "virtualAccount": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "accountNumber": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "accountName": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "bankName": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "retailName": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "ewalletType": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "redirectUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "expiredAt": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "processingFee": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "totalCost": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "balance": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "serialNumber": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "signature": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "inquiryReff": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "errorMessage": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "errorCode": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "rawResponse": {
                          "type": [
                            "array",
                            "null"
                          ],
                          "items": {}
                        },
                        "paymentInstructions": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "paymentId",
                        "orderId",
                        "status",
                        "amount",
                        "currency",
                        "paymentUrl",
                        "qrCodeUrl",
                        "paymentCode",
                        "virtualAccount",
                        "accountNumber",
                        "accountName",
                        "bankName",
                        "retailName",
                        "ewalletType",
                        "redirectUrl",
                        "expiredAt",
                        "processingFee",
                        "totalCost",
                        "balance",
                        "serialNumber",
                        "signature",
                        "inquiryReff",
                        "errorMessage",
                        "errorCode",
                        "rawResponse",
                        "paymentInstructions"
                      ]
                    },
                    "meta": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "const": "Payment cancellation failed"
                    },
                    "code": {
                      "type": "integer",
                      "const": 500
                    },
                    "data": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/orders/{order_id}/cancel": {
      "post": {
        "operationId": "orders.cancel",
        "tags": [
          "CancelOrder"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "const": "Pesanan berhasil dibatalkan"
                    },
                    "code": {
                      "type": "integer",
                      "const": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "transaction_id": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "status": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            },
                            {
                              "type": "string",
                              "enum": [
                                ""
                              ]
                            }
                          ]
                        },
                        "message": {
                          "type": "string",
                          "const": "Pesanan berhasil dibatalkan"
                        }
                      },
                      "required": [
                        "transaction_id",
                        "status",
                        "message"
                      ]
                    },
                    "meta": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "const": 403
                    },
                    "data": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "const": 500
                    },
                    "data": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/cart": {
      "get": {
        "operationId": "web.cart",
        "tags": [
          "Cart"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/whatsapp/bots/{bot}/status": {
      "get": {
        "operationId": "whatsapp.bots.status",
        "tags": [
          "CheckBotStatus"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "const": "Bot status checked successfully"
                    },
                    "code": {
                      "type": "integer",
                      "const": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        },
                        "connection_status": {
                          "type": "string"
                        },
                        "last_connected_at": {
                          "type": "string"
                        },
                        "last_disconnected_at": {
                          "type": "string"
                        },
                        "api_data": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "status",
                        "connection_status",
                        "last_connected_at",
                        "last_disconnected_at",
                        "api_data"
                      ]
                    },
                    "meta": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "const": "WhatsApp bot not found"
                    },
                    "code": {
                      "type": "integer",
                      "const": 404
                    },
                    "data": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "const": "Failed to check bot status"
                    },
                    "code": {
                      "type": "integer",
                      "const": 500
                    },
                    "data": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/horizon/api/jobs/completed": {
      "get": {
        "operationId": "horizon.completed-jobs.index",
        "summary": "Get all of the completed jobs",
        "tags": [
          "CompletedJobs"
        ],
        "parameters": [
          {
            "name": "starting_at",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobs": {
                      "type": "string"
                    },
                    "total": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "jobs",
                    "total"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/dashboard/confirm": {
      "get": {
        "operationId": "filament.dashboard.pages.confirm",
        "tags": [
          "Confirm"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/payments": {
      "post": {
        "operationId": "payments.create",
        "tags": [
          "Create"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "const": "Payment created successfully"
                    },
                    "code": {
                      "type": "integer",
                      "const": 201
                    },
                    "data": {
                      "type": "string"
                    },
                    "meta": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "string",
                          "enum": [
                            "Payment creation failed"
                          ]
                        }
                      ]
                    },
                    "code": {
                      "type": "integer",
                      "const": 400
                    },
                    "data": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "const": 404
                    },
                    "data": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "const": "Payment creation failed"
                    },
                    "code": {
                      "type": "integer",
                      "const": 500
                    },
                    "data": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/announcements/create": {
      "get": {
        "operationId": "filament.admin.resources.announcements.create",
        "tags": [
          "CreateAnnouncement"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/admin/blog/blogs/create": {
      "get": {
        "operationId": "filament.admin.resources.blog.blogs.create",
        "tags": [
          "CreateBlog"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/admin/blog/blog-categories/create": {
      "get": {
        "operationId": "filament.admin.resources.blog.blog-categories.create",
        "tags": [
          "CreateBlogCategory"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/whatsapp/bots": {
      "post": {
        "operationId": "whatsapp.bots.create",
        "tags": [
          "CreateBot"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBotRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "const": "WhatsApp bot created successfully"
                    },
                    "code": {
                      "type": "integer",
                      "const": 201
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "phone_number": {
                          "type": "string"
                        },
                        "bot_type": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "connection_status": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "qr_code": {
                          "type": "string"
                        },
                        "qr_code_expires_at": {
                          "type": "string"
                        },
                        "webhook_url": {
                          "type": "string"
                        },
                        "webhook_id": {
                          "type": "string"
                        },
                        "webhook_events": {
                          "type": "string"
                        },
                        "configuration": {
                          "type": "string"
                        },
                        "last_connected_at": {
                          "type": "string"
                        },
                        "last_disconnected_at": {
                          "type": "string"
                        },
                        "last_error": {
                          "type": "string"
                        },
                        "is_active": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        },
                        "created_at": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "updated_at": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "phone_number",
                        "bot_type",
                        "status",
                        "connection_status",
                        "description",
                        "qr_code",
                        "qr_code_expires_at",
                        "webhook_url",
                        "webhook_id",
                        "webhook_events",
                        "configuration",
                        "last_connected_at",
                        "last_disconnected_at",
                        "last_error",
                        "is_active",
                        "created_at",
                        "updated_at"
                      ]
                    },
                    "meta": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "const": "Failed to create WhatsApp bot"
                    },
                    "code": {
                      "type": "integer",
                      "const": 500
                    },
                    "data": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "whatsapp.bots.index",
        "tags": [
          "GetBots"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "const": "WhatsApp bots retrieved successfully"
                    },
                    "code": {
                      "type": "integer",
                      "const": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "phone_number": {
                            "type": "string"
                          },
                          "bot_type": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "connection_status": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "qr_code": {
                            "type": "string"
                          },
                          "qr_code_expires_at": {
                            "type": "string"
                          },
                          "webhook_url": {
                            "type": "string"
                          },
                          "webhook_id": {
                            "type": "string"
                          },
                          "webhook_events": {
                            "type": "string"
                          },
                          "configuration": {
                            "type": "string"
                          },
                          "last_connected_at": {
                            "type": "string"
                          },
                          "last_disconnected_at": {
                            "type": "string"
                          },
                          "last_error": {
                            "type": "string"
                          },
                          "is_active": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "boolean"
                              }
                            ]
                          },
                          "created_at": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "updated_at": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "phone_number",
                          "bot_type",
                          "status",
                          "connection_status",
                          "description",
                          "qr_code",
                          "qr_code_expires_at",
                          "webhook_url",
                          "webhook_id",
                          "webhook_events",
                          "configuration",
                          "last_connected_at",
                          "last_disconnected_at",
                          "last_error",
                          "is_active",
                          "created_at",
                          "updated_at"
                        ]
                      }
                    },
                    "meta": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "const": "Failed to retrieve WhatsApp bots"
                    },
                    "code": {
                      "type": "integer",
                      "const": 500
                    },
                    "data": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/documentation/documentation-articles/create": {
      "get": {
        "operationId": "filament.admin.resources.documentation.documentation-articles.create",
        "tags": [
          "CreateDocumentationArticle"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/admin/documentation/documentation-categories/create": {
      "get": {
        "operationId": "filament.admin.resources.documentation.documentation-categories.create",
        "tags": [
          "CreateDocumentationCategory"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/admin/setting/faqs/create": {
      "get": {
        "operationId": "filament.admin.resources.setting.faqs.create",
        "tags": [
          "CreateFaq"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/orders": {
      "post": {
        "operationId": "orders.create",
        "tags": [
          "CreateOrder"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "const": "Pesanan produk berhasil dibuat. Silakan lanjutkan pembayaran."
                    },
                    "code": {
                      "type": "integer",
                      "const": 200
                    },
                    "data": {
                      "type": "string"
                    },
                    "meta": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "const": 500
                    },
                    "data": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/subscriptions/orders": {
      "post": {
        "operationId": "subscriptions.orders.create",
        "tags": [
          "CreateOrder"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubscriptionOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "const": "Order subscription berhasil dibuat"
                    },
                    "code": {
                      "type": "integer",
                      "const": 200
                    },
                    "data": {
                      "type": "string"
                    },
                    "meta": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "const": 500
                    },
                    "data": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "code",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/payment-gateway/payment-gateways/create": {
      "get": {
        "operationId": "filament.admin.resources.payment-gateway.payment-gateways.create",
        "tags": [
          "CreatePaymentGateway"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/admin/payment-gateway/payment-methods/create": {
      "get": {
        "operationId": "filament.admin.resources.payment-gateway.payment-methods.create",
        "tags": [
          "CreatePaymentMethod"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/admin/catalog/products/create": {
      "get": {
        "operationId": "filament.admin.resources.catalog.products.create",
        "tags": [
          "CreateProduct"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/admin/catalog/product-categories/create": {
      "get": {
        "operationId": "filament.admin.resources.catalog.product-categories.create",
        "tags": [
          "CreateProductCategory"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/admin/catalog/product-variants/create": {
      "get": {
        "operationId": "filament.admin.resources.catalog.product-variants.create",
        "tags": [
          "CreateProductVariant"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/admin/catalog/product-variant-snks/create": {
      "get": {
        "operationId": "filament.admin.resources.catalog.product-variant-snks.create",
        "tags": [
          "CreateProductVariantSnk"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/admin/reviews/create": {
      "get": {
        "operationId": "filament.admin.resources.reviews.create",
        "tags": [
          "CreateReview"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/reviews": {
      "post": {
        "operationId": "reviews.create",
        "tags": [
          "CreateReview"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreReviewRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "review": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "user_id": {
                          "type": "string"
                        },
                        "reviewer_name": {},
                        "reviewable_id": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "reviewable_type": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "rating": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "comment": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "is_approved": {
[...]
